*{
    margin: 0;
    padding: 0;
    overflow: hidden;
}


/* NAVBAR */
#navbar{
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    background-color: black;
    color: white;
}
#logo{
    font-family: 'Quicksand', sans-serif;
    font-size: 23px;
    display: flex;
    flex-direction: row;
    gap: 5%;
    margin-left: 5%;
}
#options{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 75vw;
    gap: 2vw;
    padding: 4vw;
}
#options button{
    text-decoration: none;
    color: white;
    background-color: rgb(2,154,166);
    padding: 4px 13px;
    border-radius: 31%;
}
#a{
    text-decoration: none;
    color: white;
    background-color: rgb(2,154,166);
    padding: 4px 13px;
    border-radius: 31%;
}
#options a:hover{
    box-shadow: 0 2px white;
}

@media screen and (max-width:500px) {
#logo{
    font-size: 20px;
}
}


/* MAIN PAGE */
#main{
    height: 90vh;
    background-color: #ffffcc;
}
#img1{
    position: absolute;
    bottom: 1vh;
    right: 1vw;
    height: 30vh;
    opacity: 0.56;
}
#img2{
    position: absolute;
    bottom: -4vh;
    right: 26vw;
    height: 13vh;
    width: 10vw;
}
#img3{
    position: absolute;
    bottom: 0vh;
    left: 20vw;
    height: 19vh;
}
#img4{
    position: absolute;
  bottom: 0vh;
  left: 0vw;
  height: 17vh;
}
#img5{
    position: absolute;
  top: 10vh;
  right: 0vw;
  height: 26vh;
}
#img6{
    position: absolute;
    top: 16vh;
    right: 30vw;
    height: 28vh;
}
#img7{
    position: absolute;
    top: 46vh;
    right: -16vw;
    height: 104vh;
    opacity: 0.40;
}
#img8{
    position: absolute;
    top: 20vh;
    right: 67vw;
    height: 62vh;
    opacity: 0.5;
}
@media screen and (max-width:750px) {
    #img2,#img3,#img8{
        display: none;
    }
}
@media screen and (max-width:1200px) {
    #img6{
        display: none;
    }
}


/* LOG IN */
#login_page{
    background-color: #EFF3F4;
    display: inline-block;
    height: 83vh;
    width: 25vw;
    position: absolute;
    right: 38.5vw;
    top: 14vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2vh;
    padding: 0 2vw;
    color: #488C8D;
    font-family: 'Quicksand', sans-serif;
    box-shadow: 1px 1px 2px 0px black;
    border-radius: 5%;
}
#login_page form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2vh;
    padding: 0 2vw;
}
#welcome{
    display: block;
    margin: 0 auto;
    padding-bottom: 5vh;
    font-size: 42px;
}
#user,#pass{
    border: none;
    background-color: #EFF3F4;
    border-bottom: 1px solid black;
    padding-bottom: 1vh;
}
#btn{
    height: 7vh;
    margin-top: 1vw;
    font-family: 'Quicksand', sans-serif;
    font-size: 17px;
    text-decoration: none;
    color: white;
    background-color: #F3C404;
}
@media screen and (max-width: 750px) {
    #login_page{
        width: 45vw;
        position: absolute;
        right: 26.5vw;
    }
}
@media screen and (max-width: 448px){
    #login_page{
    width: 62vw;
    position: absolute;
    right: 15.5vw;
    top: 32vh;
    height: 44vh;
}
}





